<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MVC 패턴 연습</h1>
    <a href="/users"> 유저 리스트로 가기 </a> <br />
    <br />
    <a href="/items"> 아이템 리스트로 가기 </a> <br />
    <br />
    <a href="/actors"> 배우 리스트로 가기 </a> <br />
    <br />
    <!-- apps.js > routes > controller > model -->
    <!-- 생성 순서는 반대 model > con > r > a > view -->
  </body>
</html>
