<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h3>form 전송 실습</h3>
    <h4>회원정보 검색</h4>
    <form action="/getForm" method="get">
      <!-- 작성되지 않으면 다음으로 안넘어감: required -->
      <input
        type="text"
        placeholder="이름을 입력해 주세요."
        name="name"
        required
      />
      <button type="submit">회원 검색</button>
      <!-- get 등록 -->
    </form>

    <hr />
    <h4>회원정보 등록</h4>
    <form action="/postForm" method="post">
      <!-- 작성되지 않으면 다음으로 안넘어감: required -->
      <input
        type="email"
        placeholder="이메일을 작성해 주세요"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="password를 입력해 주세요"
        name="pw"
        required
      />
      <input
        type="text"
        placeholder="회원이름을 작성해 주세요"
        name="name"
        required
      />
      <input
        type="number"
        placeholder="나이를 작성해 주세요"
        name="age"
        required
      />
      <button type="submit">회원 등록</button>
      <!-- post 등록 -->
    </form>
  </body>
</html>
