<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form id="joinForm">
      <!-- 이름 -->
      <input
        type="text"
        placeholder="회원이름을 작성해 주세요"
        name="name"
        required
      />
      <span id="nameError" class="error"></span>

      <!-- 비밀번호 -->
      <input
        type="password"
        placeholder="password를 입력해 주세요"
        name="pw"
        required
      />
      <span id="pwError" class="error"></span>

      <!-- 성별 -->
      <div class="radio-group">
        <span>성별</span>
        <label>
          남자 <input type="radio" name="gender" value="male" checked />
        </label>
        <label>
          여자 <input type="radio" name="gender" value="female" />
        </label>
      </div>
      <span id="genderError" class="error"></span>

      <!-- 생년월일 -->
      <div class="infoBirth" id="info__birth">
        <input type="date" name="birthday" />
      </div>

      <!-- 관심사 -->
      <div class="favo">
        <span>관심사</span>
        <label> 여행 <input type="checkbox" name="fav" value="trip" /> </label>
        <label>
          패션 <input type="checkbox" name="fav" value="fashon" />
        </label>
        <label> 음식 <input type="checkbox" name="fav" value="food" /> </label>
      </div>

      <button onclick="joinData(event)" id="saveBtn">회원 등록</button>
    </form>
  </body>

  <script>
    const joinData = (event) => {
      event.preventDefault(); // 폼 제출 방지
      const data = {
        id: document.querySelector("input[name='name']").value,
        pw: document.querySelector("input[name='pw']").value,
        br: document.querySelector("input[name='birthday']").value,
        g: document.querySelector("input[name='gender']").value,
        fa: document.querySelector("input[name='fav']").value,
      };
      console.log(data);
      axios({
        method: "get",
        url: "/axiosget",
        params: data,
      }).then((res) => {
        console.log(res, "뭐래");
      });
    };
  </script>
</html>
