<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>아이템 리스트</h3>
    <ul>
      <% items.forEach(item => { %>
      <li>
        <a href="/items/detail/<%= item.id %>"><%= item.name %></a>
      </li>
      <% }) %>
      <h3>가장 비싼 아이템 보러가기</h3>
      <li>
        <a href="/items/exItem">가장 비싼 아이템 보러가기</a>
      </li>
    </ul>
  </body>
</html>
