<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>해당하는 아이템 페이지</h1>
    <br />
    <h1><%= item.name %></h1>
    <p><%= item.price %></p>
    <a href="/items">뒤로 가기</a>
  </body>
</html>
